{% extends "base.html" %}

{% load humanize %}
{% block header %}
<script>
  function product_detail(id) {
    $.ajax({
      url: "/api/product/" + id,
      success: function (result) {
        $("#product-" + id).popover({
          html: true,
          content: result.name + "<br>" + result.price
        }).popover('show');
      }
    })
  }
  function product_leave(id) {
    $("#product-" + id).popover('hide')
  }
  $(document).ready(function () {
  });
</script>

{% endblock %}
{% block contents %}


<div class="row mt-5 justify-content-center">
  <h1>Current Product</h1>
</div>
<div class="row justify-content-end">
  <div class="col-2">
<a href="/logout" class="btn btn-primary btn-lg btn-block mt-5 active" role="button" aria-pressed="true" style="background-color:tomato;">Logout</a>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <table class="table table-light">
      <thead class="table-primary">
        <tr>
          <th scope="cal">#</th>
          <th scope="cal">Product Name</th>
          <th scope="cal">Price</th>
          <th scope="cal">Date</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for product in product_list %}
        <tr>
          <th scope="raw">{{ product.id }}</th>
          <th><a id="product-{{ product.id }}" onmouseenter="product_detail({{ product.id }})"
              onmouseleave="product_leave({{ product.id }})" href="/product/{{ product.id }}">{{ product.name }}</a>
          </th>
          <th>{{ product.price|intcomma }}€</th>
          <th>{{ product.register_date|date:'Y-m-d H:i'}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}