{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row justify-content-center mt-5">
  <div class="col-6">
    <div class="jumbotron">
      <h1 class="display-3">{{ product.name }}</h1>
      <ul class="list-group">
        <li class="list-group-item d-flex text-left">Price : {{ product.price|intcomma }}€</li>
        <li class="list-group-item text-left">Date : {{ product.register_date|date:'Y-m-d H:i'}}</li>
        <li class="list-group-item text-left">Stock : {{ product.stock|intcomma }}</li>
        <li class="list-group-item text-left">Detail : {{ product.description|safe }}</li>
      </ul>
      <hr class="my-4">
      <form method="POST" , action="/order/create/">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {% ifnotequal field.name 'product' %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% endifnotequal %}
          <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
            placeholer="{{ field.label }}" name="{{ field.name }}"
            value="{% ifequal field.name 'product'%}{{product.id}}{% endifequal %}" />
        </div>
        {% if field.errors %}
        <span style="color: crimson">{{ field.errors }}</span>
        {% endif %}
        {% endfor %}

        <p class="lead mt-5">
          <button type="submit" class="btn btn-primary">Purchase</button>
        </p>
      </form>

    </div>
    <div class="raw">
      <div class="col-12">
        <a href="/product">Back to list</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}