{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
      </div>
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <form method="POST" , action="/order/create/">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {% ifnotequal field.name 'product' %}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% endifnotequal %}
              <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                placeholer="{{ field.label }}" name="{{ field.name }}" value="{% ifequal field.name 'product'%}{{product.id}}{% endifequal %}" />
            </div>
            {% if field.errors %}
            <span style="color: crimson">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Purchase</button>
          </form>
        </li>

        <li class="list-group-item">Price : {{ product.price|intcomma }}€</li>
        <li class="list-group-item">Date : {{ product.register_date|date:'Y-m-d H:i'}}</li>
        <li class="list-group-item">Detail : {{ product.description|safe }}</li>
      </ul>
    </div>
  </div>
</div>
<div class="raw">
  <div class="col-12">
    <a href="/product">Back to list</a>
  </div>
</div>
{% endblock %}