{% extends "base.html" %}
{% block contents %}

<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>Login</h1>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12 mt-5">
    <form method="POST" , action=".">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group mt-5">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholer="{{ field.label }}" name="{{ field.name }}" />
      </div>
      {% if field.errors %}
      <span style="color: crimson">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}


      <button type="submit" class="btn btn-primary mt-5">Login</button>
    </form>
  </div>
</div>
{% endblock %}