{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <table class="table table-light">
      <thead class="thead-light">
        <tr>
          <th scope="cal">#</th>
          <th scope="cal">Product Name</th>
          <th scope="cal">Quantity</th>
          <th scope="cal">Date</th>
        </tr>
      </thead>
      <tbody class="text-dark">
        {% for order in order_list %}
        <tr>
          <th scope="raw">{{ product.id }}</th>
          <th>{{ order.product }}</th>
          <th>{{ order.quantity|intcomma }}</th>
          <th>{{ order.register_date|date:'Y-m-d H:i'}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endblock %}